section#hero(back-grad="../images/cover/hero.jpg")
  .hero-caption
    .container
      .row
        .col-xs-12.col-lg-8.col-lg-offset-2
          h1 {{'h_title' | translate}}
            br
            span {{'h_span' | translate}}
          a.btn.btn-default(ng-click="eventFormOpen()") {{'h_btn' | translate}}
section#about
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3 {{'a_title' | translate}}
          p {{'a_text' | translate}}
        a.btn.btn-default.btn-sm(href="") {{'a_btn' | translate}}
section#quote(back-grad="../images/cover/hero.jpg")
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        ks-swiper-container(
          autoplay="5000"
          initial-slide="0"
          loop="true"
          override-parameters="{'effect':'slide'}"
          pagination-clickable="false"
          show-nav-buttons="false"
          slides-per-view="1"
          space-between="30")
          ks-swiper-slide.swiper-slide
            blockquote
              .blockquote-img
                .blockquote-img-container(back-img="../images/borisov.png")
              .blockquote-text
                p {{'q_text' | translate}}
                footer {{'q_author' | translate}}
                  cite {{'q_status' | translate}}
                  img.blockquote-text-sign(ng-src="images/borisov-sign.png", alt="")
          ks-swiper-slide.swiper-slide
            blockquote
              .blockquote-img
                .blockquote-img-container(back-img="../images/cover/hero.jpg")
              .blockquote-text
                p {{'p_text' | translate}}
                footer {{'q_author' | translate}}
                  cite {{'q_status' | translate}}
                  img.blockquote-text-sign(ng-src="images/borisov-sign.png", alt="")
section#projects
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center {{'p_title' | translate}}
          p {{'p_text' | translate}}
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        a.project(href="" back-grad="../images/cover/hero.jpg")
          article
            h2 {{'p_1_title' | translate}}
            p {{'p_1_text' | translate}}
        a.project(href="" back-grad="../images/cover/hero.jpg")
          article
            h2 {{'p_2_title' | translate}}
            p {{'p_2_text' | translate}}
    .btn-center
      a.btn.btn-default.btn-sm(href="") {{'p_btn' | translate}}
section#events(back-grad="../images/cover/hero.jpg")
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center.white {{'e_title' | translate}}
          p {{'e_text' | translate}}
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        ks-swiper-container(autoplay="5000"
                            initial-slide="0"
                            loop="true"
                            override-parameters="{'effect':'slide'}"
                            pagination-clickable="false"
                            pagination-is-active="true"
                            show-nav-buttons="false"
                            slides-per-view="1"
                            space-between="30")
          ks-swiper-slide.swiper-slide
            fugure.card
              .card-bg(back-img="../images/competition.jpg")
              figcaption.card-caption
                p {{'e_1_date' | translate}}
                h4 {{'e_1_title' | translate}}
                p {{'e_1_text' | translate}}
          ks-swiper-slide.swiper-slide
            fugure.card
              .card-bg(back-img="../images/competition.jpg")
              figcaption.card-caption
                p {{'e_2_date' | translate}}
                h4 {{'e_2_title' | translate}}
                p {{'e_2_text' | translate}}
          ks-swiper-slide.swiper-slide
            .add-event
              a.btn.btn-default(ng-click="eventFormOpen()") {{'h_btn' | translate}}
              p {{'e_add_text' | translate}}
              a.btn.btn-default.btn-sm(href="") {{'e_btn' | translate}}
section#news
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center {{'n_title' | translate}}
          p {{'n_text' | translate}}
    .row
      .col-xs-12
        .post-list
          figure.post-item
            a(href="").post-item-cover
              .post-bg(back-img="../images/cover/hero.jpg")
            figcaption
              h5
                a(href="") {{'n_1_title' | translate}}
              p.date {{'n_1_date' | translate}}
          figure.post-item
            a(href="").post-item-cover
              .post-bg(back-img="../images/cover/hero.jpg")
            figcaption
              h5
                a(href="") {{'n_2_title' | translate}}
              p.date {{'n_2_date' | translate}}
          figure.post-item
            a(href="").post-item-cover
              .post-bg(back-img="../images/cover/hero.jpg")
            figcaption
              h5
                a(href="") {{'n_3_title' | translate}}
              p.date {{'n_3_date' | translate}}
          figure.post-item
            a(href="").post-item-cover
              .post-bg(back-img="../images/cover/hero.jpg")
            figcaption
              h5
                a(href="") {{'n_4_title' | translate}}
              p.date {{'n_4_date' | translate}}
          figure.post-item
            a(href="").post-item-cover
              .post-bg(back-img="../images/cover/hero.jpg")
            figcaption
              h5
                a(href="") {{'n_5_title' | translate}}
              p.date {{'n_5_date' | translate}}
          figure.post-item
            a(href="").post-item-cover
              .post-bg(back-img="../images/cover/hero.jpg")
            figcaption
              h5
                a(href="") {{'n_6_title' | translate}}
              p.date {{'n_6_date' | translate}}
    .btn-center
      a.btn.btn-default.btn-sm(href="") {{'n_btn' | translate}}
section#competition
  .row
    .competition(back-grad="../images/competition.jpg")
      .competition-caption
        h3 {{'c_1_title' | translate}}
        p {{'c_1_text' | translate}}
        .btn-right
          a.btn.btn-default.btn-sm(href="") {{'c_btn' | translate}}
    .competition(back-grad="../images/competition.jpg")
      .competition-caption
        h3 {{'c_2_title' | translate}}
        p {{'c_2_text' | translate}}
    .competition(back-grad="../images/competition.jpg")
      .competition-caption
        h3 {{'c_3_title' | translate}}
        p {{'c_3_text' | translate}}
section#partners
  .container
    .row
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(ng-src="images/partners/aiart.png", alt="aiart")
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(ng-src="images/partners/aiart.png", alt="aiart")
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(ng-src="images/partners/aiart.png", alt="aiart")
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(ng-src="images/partners/aiart.png", alt="aiart")
section#feedback(back-grad="../images/cover/hero.jpg")
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center.white {{'f_title' | translate}}
          p {{'f_text' | translate}}
          //- div(ng-controller="formFeedbackCtrl")
          //-   form(name="userForm"  class="well form-search")
          //-     input(type="text" ng-model="name" class="input-medium search-query" placeholder="Name" required)
          //-     input(type="email" ng-model="email" class="input-medium search-query" placeholder="Email" required)
          //-     input(type="text" ng-model="message" class="input-medium search-query" placeholder="Message" required)
          //-     button(type="submit" class="btn" ng-click="formsubmit(userForm.$valid)"  ng-disabled="userForm.$invalid") Submit
          //-     | {{userForm.$valid}}
          //-   pre(ng-model="result") {{result}}
        form(ng-controller="formFeedbackCtrl" ng-submit="feedbackForm()")
          .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                h4 {{'f_form' | translate}}
                input(type="text"  
                      placeholder="{{'f_form_name' | translate}}"
                      name="feedback_name"
                      ng-model="formData.feedback_name"
                      required="required")
                input(type="tel"
                      placeholder="{{'f_form_phone' | translate}}"
                      name="feedback_phone"
                      ng-model="formData.feedback_phone"
                      required="required")
                input(type="email"
                      placeholder="{{'f_form_email' | translate}}"
                      name="feedback_mail"
                      ng-model="formData.feedback_mail"
                      required="required")
                textarea(rows="5"
                         placeholder="{{'f_form_text' | translate}}"
                         name="feedback_text"
                         ng-model="formData.feedback_text"
                         required="required")
                button.btn.btn-default.btn-sm(type="submit") {{'f_form_btn' | translate}}
//- script.
//-   $("#formfeedback").submit(function() {
//-     var data = $(this).serialize();
//-     $.ajax({
//-       type: "POST",
//-       url: "feedback.php",
//-       data: data,
//-       success: function() {
//-         alert('Ваше сообщение отправлено');
//-       },
//-       error: function() {
//-         alert('Ваше сообщение не отправлено');
//-       }
//-     });
//-     return false;
//-   });